.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-customer-firstname,
.add-customer-lastname,
.add-customer-email,
.add-customer-username,
.add-customer-password {
    width: max(40%, 280px);
}

.add-customer-firstname input,
.add-customer-lastname input,
.add-customer-email input,
.add-customer-username input,
.add-customer-password input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.add-ingredient-amount-unitOfMeasurement {
    display: flex;
    gap: 30px;
}

.add-ingredient-amount input,
.add-ingredient-unitOfMeasurement input {
    max-width: 120px;
}

.add-ingredient-status select {
    max-width: 120px;
}

.add-btn {
    max-width: 1500px;
    border: none;
    padding: 10px;
    background-color: #6a4b31;
    color: white;
    cursor: pointer;
    align-self: flex-start;
}